@inherits LayoutComponentBase

<div class="page">
    <main>
        <TopBar>
            <Brand />
            <TitleBar />
            <ButtonBar Botoes="Botoes" AvatarOffcanvasMenuID="#AvatarMenu" AvatarPath="assets/UI/Avatar2.png" />
        </TopBar>

        <Offcanvas OffcanvasID="TesteMenu" />
        <Offcanvas OffcanvasID="AvatarMenu" Posicao="Offcanvas.PosicaoOffCanvas.Direita" direcaoOffCanvas="Offcanvas.DirecaoOffCanvas.direita" EOffcanvasPerfil="true" />

        <PageTitleBar />

        

        <article class="content px-4 user-select-none">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] protected NavigationManager? navigationManager { get; set; }

    protected List<BarButton> Botoes { get; set; } = new();

    protected override void OnInitialized()
    {        
        var button1 = new BarButton();
        button1.Imagem = "assets/UI/light/ThemeChanger.png";
        button1.DicaTela = "Tema Escuro";
        button1.OnClick = TesteClick;
        Botoes.Add(button1);
        var button = new BarButton();
        button.Imagem = "assets/UI/light/MainMenu.png";
        button.DicaTela = "Menu";
        button.OffcanvasMenuID = "#TesteMenu";
        Botoes.Add(button);
    }

    private void TesteClick()
    {
        Console.WriteLine("Teste");
    }
}
