@inherits LayoutComponentBase

<style>
    html{
        background-color: @CorFundo;
        color: @CorTexto;
    }
</style>

<div class="page" style="background-color: @CorFundo; color: @CorTexto; height: 100vh; display: flex; flex-direction: column;">
    <main style="flex: 1; display: flex; flex-direction: column; overflow: hidden;">
        <AppBar isDarkMode="@ThemeChange" OnChangeThemeButtonClick="TesteClick" AppName="eTasks" PageTitle="@Title" ChangeThemeButtonTip="@Dica" />


        <article class="content px-4 user-select-none" style="flex: 1; overflow-y: auto;">
            @Body
        </article>

        <ActionButton IsDarkMode="@ThemeChange" OnClick="GoGoogle" />
    </main>
</div>

@code {
    [Inject] protected NavigationManager? navigationManager { get; set; }

    protected bool ThemeChange { get; set; } = false;
    protected string CorFundo { get; set; } = string.Empty;
    protected string CorTexto { get; set; } = string.Empty;
    protected string Title { get; set; } = "Minhas Tarefas";
    protected string Dica { get; set; } = "Tema escuro";

    protected override void OnInitialized()
    {
        ChangeTheme();
    }

    private void TesteClick()
    {
        ThemeChange = !ThemeChange;
        ChangeTheme();
    }

    private void ChangeTheme()
    {
        CorFundo = Components.ColorPallete.GetColor(Components.Cor.Background, ThemeChange);
        CorTexto = Components.ColorPallete.GetColor(Components.Cor.Text, ThemeChange);
    }

    protected void GoGoogle()
    {
        navigationManager.NavigateTo("https://github.com/rafael-figueiredo-alves");
    }
}
