@inherits LayoutsBase

<button @onclick="Voltar">Voltar</button>
@Body

@code {
    protected string Title { get; set; } = "Minhas Tarefas";
    protected string Dica { get; set; } = "Tema escuro";

    protected void Voltar()
    {
        navigationManager?.GoHome();
    }

    private void TesteClick()
    {
        ThemeChange = !ThemeChange;
        ChangeTheme();
    }

    protected void GoGoogle()
    {
        navigationManager?.NavigateTo("https://github.com/rafael-figueiredo-alves");
    }
}
