@inherits ActionButtonBase

<div class="fab-container">
    <div class="button iconbutton" style="background-color: @ColorPallete.GetColor(Cor.FabButton, IsDarkMode)" @onclick="OnClick">
        <img class="user-select-none" src="assets/UI/common/Add.png" />
    </div>
</div>


