@inherits ActionButtonBase

<div class="fab-container">
    <div class="button iconbutton" style="@($"background-color: {ColorPallete.GetColor(Cor.FabButton, IsDarkMode)}")" @onclick="OnClick">
        <img src="assets/UI/common/Add.png" />
    </div>
</div>


