@inherits ListsContainerBase

<h3>ListsContainer</h3>
@switch (SelectedMenuItem)
{
    case MainMenuItemType.Home:
        <ListFinances />
        break;
    case MainMenuItemType.Tasks:
        <ListAccount />
        break;
    default:
        <h3>Invalid ListType</h3>
        break;
}
