/* _content/eTasks.Components/Component1.razor.rz.scp.css */
.my-component[b-44hx7hy6mb] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
