/* _content/eTasks.Components/Bars/PageTitleBar.razor.rz.scp.css */
@media screen and (min-width: 768px) {
    .MostraComponente[b-e6h3fvlqql] {
        display: none;
    }
}
/* _content/eTasks.Components/Bars/TitleBar.razor.rz.scp.css */
@media screen and (max-width: 768px) {
    .OcultaComponente[b-tcoybpbd4a] {
        display: none !important;
    }
}
/* _content/eTasks.Components/Buttons/ActionButton.razor.rz.scp.css */
.fab-container[b-ic4utoi6x4] {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.iconbutton[b-ic4utoi6x4] {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #336699; /* Padrão para tela escura */
    box-shadow: 0px 2px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
}

.button[b-ic4utoi6x4] {
    width: 60px;
    height: 60px;
}

.iconbutton img[b-ic4utoi6x4] {
    width: 30px;
    height: 30px;
}

/* Efeito clique */
.iconbutton:active[b-ic4utoi6x4] {
    transform: scale(0.95); /* Pequeno efeito de "aperto" ao clicar */
}
