/* _content/eTasks.Components/Bars/PageTitleBar.razor.rz.scp.css */
@media screen and (min-width: 768px) {
    .MostraComponente[b-e6h3fvlqql] {
        display: none;
    }
}
/* _content/eTasks.Components/Bars/TitleBar.razor.rz.scp.css */
@media screen and (max-width: 768px) {
    .OcultaComponente[b-tcoybpbd4a] {
        display: none !important;
    }
}
/* _content/eTasks.Components/Buttons/ActionButton.razor.rz.scp.css */
.fab-container[b-ic4utoi6x4] {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.iconbutton[b-ic4utoi6x4] {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #336699; /* Padrão para tela escura */
    box-shadow: 0px 2px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
}

.button[b-ic4utoi6x4] {
    width: 60px;
    height: 60px;
}

.iconbutton img[b-ic4utoi6x4] {
    width: 30px;
    height: 30px;
}

/* Efeito clique */
.iconbutton:active[b-ic4utoi6x4] {
    transform: scale(0.95); /* Pequeno efeito de "aperto" ao clicar */
}
/* _content/eTasks.Components/Containers/Accordion.razor.rz.scp.css */
.Accordion-DarkMode[b-uc9dnutpu8] {
    background-color: #212529;
    color: #FFFFFF;
}

.Accordion-LightMode[b-uc9dnutpu8] {
    background-color: #FFFFFF;
    color: #336699;
}
/* _content/eTasks.Components/Containers/AccordionItem.razor.rz.scp.css */
.AccordionItem-DarkMode[b-bz5meijxf7] {
    background-color: #212529;
    color: #FFFFFF;
}

.AccordionItem-LightMode[b-bz5meijxf7] {
    background-color: #FFFFFF;
    color: #336699;
}

.AccordionItem-Container-Body[b-bz5meijxf7] {
    overflow-x: hidden;
    overflow-y: auto;
}

.AccordionItem-RemoveBorder[b-bz5meijxf7] {
    box-shadow: none;
}
/* _content/eTasks.Components/Containers/InfoCard.razor.rz.scp.css */
.info-card-container[b-a7abp9ilz8] {
    width: 365px;
    min-height: 327px;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card-image[b-a7abp9ilz8] {
    width: 365px;
    height: 256px;
    object-fit: contain;
}

.info-card-text[b-a7abp9ilz8] {
    margin-top: 12px;
    font-size: 14px;
    color: #336699; /* pode trocar por var(--bs-body-color) se usar Bootstrap */
    line-height: 1.4em;
}
/* _content/eTasks.Components/Dialog/ModalDialog.razor.rz.scp.css */
.ModalDialog-remove-bordas[b-tr5tbilv2q] {
    border: none;
}

.HandPoint-cursor-button[b-tr5tbilv2q] {
    cursor: pointer;
}

.Title-settings[b-tr5tbilv2q] {
    font-family: Roboto;
    font-weight: bold;
    padding-top: 10px;
}

.ModalDialog-Header-settings[b-tr5tbilv2q] {
    padding: 0px;
    padding-top: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ModalDialog-DarkMode[b-tr5tbilv2q] {
    background-color: #212529;
    color: #FFFFFF;
}

.ModalDialog-LightMode[b-tr5tbilv2q] {
    background-color: #FFFFFF;
    color: #336699;
}
/* _content/eTasks.Components/ToastMessage/ToastMessage.razor.rz.scp.css */
.toast[b-51weikrky8] {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    padding: 0px 15px 0px 0px;
    border-radius: 25px;
    height: 48px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 9999;
    min-width: 340px;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease-in-out;
    display: flex;
    pointer-events: none; /* Prevent interaction when hidden */
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
}

.toast-success[b-51weikrky8] {
    background-color: #66BB6A;
}

.toast-error[b-51weikrky8] {
    background-color: #EE5351;
}

.toast-icon[b-51weikrky8] {
    margin-right: 2px;
    font-size: 20px;
}

.toast-message[b-51weikrky8] {
    flex-grow: 1;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.toast-close[b-51weikrky8] {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 4px;
}

.fade-in[b-51weikrky8] {
    opacity: 1;
}

.fade-out[b-51weikrky8] {
    opacity: 0;
}

.toast[style*="opacity: 1"][b-51weikrky8] {
    pointer-events: auto; /* Enable interaction when visible */
}
