@page "/about"
@inherits AboutBase

<LayoutView Layout="TipoLayout">
<NavBar IsMobile="@isMobile" Title="Novo Lançamento" OnBackButtonClick="Voltar" />
<h3>About @Versao</h3>
<Teste2></Teste2>
</LayoutView>
