@inject NavigationManager Nav

<PageTitle>Página não encontrada</PageTitle>

<p role="alert">Sentimos muito, mas não há nada para exibir aqui.</p>
<p>Volte para a página principal <a style="cursor: pointer" @onclick=GoHome>clicando aqui</a></p>

@code {
    protected void GoHome()
    {
        #if DEBUG
            Nav.NavigateTo("/");
        #else
            Nav.NavigateTo("eTasks-Web");
        #endif
    }
}
