@inject IToastService ToastService;
@inject INetworkCheckerService networkCheckerService;

<PageTitle>eTasks</PageTitle>

<h1>Seja bem vindo ao eTasks!</h1>
<h1>Welcome to eTasks!</h1>

<img src="assets/icon-192.webp" @onclick=TesteToast />

<p>Este app está em fase de desenvolvimento...</p>
<p>This app is still under development...</p>

<p>Verifique o repositório oficial em <a href="https://github.com/rafael-figueiredo-alves/eTasks-Web" target="_blank">https://github.com/rafael-figueiredo-alves/eTasks-Web</a> </p>
<p>Check out the official repository at <a href="https://github.com/rafael-figueiredo-alves/eTasks-Web" target="_blank">https://github.com/rafael-figueiredo-alves/eTasks-Web</a> </p>

@code{
    private async Task TesteToast()
    {
        ToastService.ShowError("Teste de Sucesso!");

        if(await networkCheckerService.HasConnectionAsync())
        {
            ToastService.ShowSuccess("Com conexão");
        }
        else
        {
            ToastService.ShowError("Sem conexão");
        }

        if (await networkCheckerService.HasInternetConnectionAsync())
        {
            ToastService.ShowSuccess("Com Internet");
        }
        else
        {
            ToastService.ShowError("Sem Internet");
        }

        var Teste2 = await networkCheckerService.CheckConnectionAndSpeedAsync();

        if(Teste2.isConnected)
        {
            switch(Teste2.SpeedStatus)
            {
                case InternetSpeedStatus.Fast:
                    ToastService.ShowSuccess($"Com Internet Rápida - {Teste2.LatencyMS}");
                    break;
                case InternetSpeedStatus.Regular:
                    ToastService.ShowSuccess($"Com Internet Regular - {Teste2.LatencyMS}");
                    break;
                case InternetSpeedStatus.Slow:
                    ToastService.ShowSuccess($"Com Internet lenta - {Teste2.LatencyMS}");
                    break;
                default:
                    ToastService.ShowSuccess($"Sem conexão - {Teste2.LatencyMS}");
                    break;
            }
        }
    }
}