.changelog-container {
    margin: 15px;
    font-family: Arial, sans-serif;
}

.changelog-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #336699;
    margin-left: 20px;
}

.changelog {
    border: 2px solid #336699;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    color: #B8CADB;
    height: 20vh; /* altura fixa */
    overflow-y: auto; /* rolagem */
}