<h3>ListFinances</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("ListFinances.OnInitializedAsync");
        await base.OnInitializedAsync();
    }
}
