<div class="d-flex col-2" style="height: 60px;">
    <img src="@Imagem" height="40" width="40" style="margin-top: 2px;margin-left: 10px" />
    <h1 style="color: #336699;font-size: 24px;font-weight: 700;margin-top: 10px;margin-left: 5px;">eTasks</h1>
</div>

@code {
    [Inject] protected NavigationManager? Nav { get; set; }

    public string Imagem
    {
        get
        {
            return Nav?.BaseUri.TrimEnd('/') + "/assets/favicon.png";
        }
    }
}
