<div class="d-flex col-8 OcultaComponente justify-content-center align-items-center" style="height: 60px;">
    <div class="justify-content-center align-items-center text-center" style="width: 60%;height: 30px;border-radius: 17px;background: #336699;background-blend-mode: normal;margin-bottom: 15px;color:white;  font-family: Comic Sans MS;font-size: 18px;font-weight: 400;">
        Minhas tarefas
    </div>
</div>
