@inherits TopBarBase

<div class="@($"navbar {BarPosition} user-select-none")" style="@($"background-color: {CorFundo}; height: {Height}; box-shadow: {Sombra};")">
    @ChildContent
</div>
<div style="height: @AuxDivHeight">

</div>