@inherits TopBarBase

<div class="navbar fixed-top user-select-none" style="background-color: white; height: @Height; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    @ChildContent
</div>
<div style="height: @Height">

</div>