@page "/"

<PageTitle>eTasks</PageTitle>

<h1>Seja bem vindo ao eTasks!</h1>

<img src="assets/icon-192.png" />

<p>Este app está em fase de desenvolvimento...</p>

<p>Verifique o repositório oficial em <a href="https://github.com/rafael-figueiredo-alves/eTasks-Web" target="_blank">https://github.com/rafael-figueiredo-alves/eTasks-Web</a> </p>
