@page "/"

<PageTitle>eTasks</PageTitle>

<h1>Seja bem vindo</h1>

<p>Este app ainda não está pronto, está em fase de desenvolvimento.</p>

<p>Verifique o repositório oficial em <a href="https://github.com/rafael-figueiredo-alves/eTasks-Web">https://github.com/rafael-figueiredo-alves/eTasks-Web</a></p>

