@inherits AvatarMenuBase

<Offcanvas OffcanvasID="AvatarMenu" EOffcanvasPerfil="true" isDarkMode="@IsDarkMode">
@*     <div class="offcanvas-header" style="background: RoyalBlue; border-radius: 60px 0px 0px 0px; height: 450px">
        <div class="offcanvas-title" style="color: white" id="offcanvasExampleLabel">
            <div class="row">
                <div class="col-2">
                    <img src="/icon-192.png" height="40" width="40" />
                </div>
                <div class="col-8 text-center" style="padding-top: 9px">
                    <h3 style="margin-bottom: 0px">BlazorClientes</h3>
                </div>
            </div>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div> *@
   @*  <div class="offcanvas-body @Theme!.ColorClass" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#cadastros-collapse" aria-expanded="false">
                    Cadastros
                </button>
                <div class="collapse" id="cadastros-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CadastrarClientes">Clientes</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CadastrarVendedores">Vendedores</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CadastrarProdutos">Produtos</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#pedidos-collapse" aria-expanded="false">
                    Pedidos
                </button>
                <div class="collapse" id="pedidos-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CriarNovoPedido">Novo Pedido</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="VerificarPedidos">Verificar Pedidos</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#ajuda-collapse" aria-expanded="false">
                    Ajuda
                </button>
                <div class="collapse" id="ajuda-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="ConsultarManual">Manual do Usuário</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="VerPagina404">Página 404</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="VerSobre">Sobre</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div> *@
</Offcanvas>
