# Run workflow on every push to the master branch
on:
  push:
    branches: 
     - main

jobs:
  deploy-to-github-pages:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
    # uses GitHub's checkout action to checkout code form the master branch
    - uses: actions/checkout@v2
    
    # sets up .NET 10
    - name: Setup .NET 10
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x

    # cleans build before publishes
    - name: Cleans build before publishes
      run: dotnet clean eTasks/

    # publishes Blazor project to the release-folder
    - name: Publish .NET Core Project
      run: dotnet publish eTasks/eTasks.csproj -c Release -o release --nologo
    
    # changes the base-tag in index.html from '/' to 'eTasks-Web' to match GitHub Pages repository subdirectory
    - name: Change base-tag in index.html from / to BlazorGitHubPagesDemo
      run: sed -i 's/<base href="\/" \/>/<base href="\/eTasks-Web\/" \/>/g' release/wwwroot/index.html
    
    # copy index.html to 404.html to serve the same file when a file is not found
    - name: copy index.html to 404.html
      run: cp release/wwwroot/index.html release/wwwroot/404.html

    - name: Substitute placeholders in appsettings.json
      run: |
        sed -i 's|\${BASE_URL_FIREBASE}|${{ secrets.BASE_URL_FIREBASE }}|g' release/wwwroot/appsettings.json  
        sed -i 's|\${API_KEY_FIREBASE}|${{ secrets.API_KEY_FIREBASE }}|g' release/wwwroot/appsettings.json

    # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll
      
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: release/wwwroot
