@inherits LayoutComponentBase

<div class="page">
    <main>
        <TopBar>
            <Brand />
            <TitleBar />
            <ButtonBar Botoes="Botoes" AvatarOffcanvasMenuID="#AvatarMenu" />
        </TopBar>

        <Offcanvas OffcanvasID="TesteMenu" />
        <Offcanvas OffcanvasID="AvatarMenu" position="offcanvas-end" />

        <PageTitleBar />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] protected NavigationManager? navigationManager { get; set; }

    protected List<BarButton> Botoes { get; set; } = new();

    protected override void OnInitialized()
    {
        var URL = navigationManager?.BaseUri.TrimEnd('/');
        var button1 = new BarButton();
        button1.Imagem = $"{URL}/assets/UI/light/ThemeChanger.png";
        button1.DicaTela = "Tema Escuro";
        button1.OnClick = TesteClick;
        Botoes.Add(button1);
        var button = new BarButton();
        button.Imagem = $"{URL}/assets/UI/light/MainMenu.png";
        button.DicaTela = "Menu";
        button.OffcanvasMenuID = "#TesteMenu";
        Botoes.Add(button);
    }

    private void TesteClick()
    {
        Console.WriteLine("Teste");
    }
}
