@inherits LayoutComponentBase

<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
@*         <div class="top-row px-4">
            <a href="https://github.com/rafael-figueiredo-alves/eTasks-Web" target="_blank">Sobre o Projeto/About the project</a>
        </div> *@

        <TopBar>
            <Brand />
            <TitleBar />
            <ButtonBar />
        </TopBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
